events {
  worker_connections 1024;
}

http {
  server {
    listen ${NGINX_PORT};

    # enCore dynamic content reverse proxy
    location / {
      proxy_pass http://lambdamoo:${ENCORE_HTTP_PORT};
    }

    # enCore static content
    location /encore/ {
      root /webroot;
    }
  }
}
